:root {
  --primary: #6608c5;
  --spacing: 4rem;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
  background-color: #d9d9d9;
  text-align: center;
}

/* TYPOGRAPHY */

h1 {
  font-size: 5vw;
  line-height: 1.4em;
  margin-bottom: 2rem;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: var(--spacing);
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-weigth: 400;
}

.button {
  color: var(--primary);
  border: 2px solid;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
}

.about {
  background-color: var(--primary);
  color: #f8f8f8;
  padding: 4rem;
  position: relative;
  margin-bottom: 100px;
}
.about::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -100px;
  width: 0;
  height: 0;
  border-top: 100px solid var(--primary);
  border-right: 100vw solid transparent;
}

.contact {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.contact::before {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 0;
  height: 0;
  border-bottom: 100px solid var(--primary);
  border-left: 100vw solid transparent;
}

.button:hover,
.button:focus {
  color: white;
  background-color: var(--primary);
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

.about-text {
  margin: 1em 0;
}

@media (min-width: 800px) {
  .about-container {
    display: flex;
  }

  .about-text {
    margin-left: var(--spacing);
  }
}

.about-img {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto var(--spacing);
}
.header-link::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.75rem solid var(--primary);
}

.header-link:hover::after {
  border-top-color: white;
  transition: all 0.3s ease-in-out;
}
